body{
    font-family: 'Playball', cursive;
    margin : 0;
    color: azure;
    background : url("../img/bg-menu-01.png");
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    text-transform: uppercase;
    width: 70%;
    margin-top: 50px;
}
nav ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style-type:none;
    font-weight: bold;
    font-size: 20pt;
}
nav a{
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.566);
}
nav a:hover{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    padding : 10px 0px;
    transition-delay: 0.1s;
}


section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section, h1{
    background-color: rgba(0, 0, 0, 0.799);
}
article{
    width: 60%;
}
article p{
    font-size: 20pt;
}
.aside{
    width: 30%;
}
aside img{
     width: 100%;
}
h1{
    text-align: center;
    font-size: 40pt;
    margin: 50px 0 0 0;
}