body{
    font-family: 'Courgette', cursive;
    margin : 0;
    color: azure;
    background : url("../img/bg-slider-06.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;
}
header img{
    width: 30%;
    height: 250px;
    padding-top: 100px;
}
nav{
    text-transform: uppercase;
    width: 70%;
    margin-top: 50px;
}
nav ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style-type:none;
    font-weight: bold;
    font-size: 20pt;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    padding : 10px 0px;
    transition-delay: 0.1s;
}


/* Menu */


.main{
    background: url("../img/pexels-valeria-boltneva-1833349.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding:80px;
    font-size: 50pt;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}
.main_container{
    width: 60%;
    margin: auto; 
    padding-bottom: 150px;
    margin-top: 50px;
}
.main_container_elements, .main_container_elements2{
    display: flex;
    align-items: center;
    height: 350px;
}
.main_container_elements{
    background-color: rgba(0, 0, 0, 0.464);
}
.main_container_elements2{
    background-color: rgba(69, 68, 68, 0.499);
}
.elements{
    height:180px;
    width: 80%;
    text-align: center;
}
.elements img{
    width: 70%;
    height: 120%;
}
.elements p{
    align-items: center;
    font-size: 18pt;
}
.elements h2{
    text-transform: uppercase;
    font-size: 30pt;
}



/*  Bottom  */


.main_bottom{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.619);
}
.main_bottom_content{
    width:70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_bottom_content img{
    width: 70%;
    height: 70%;
}


/*  Avis   */

#owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }


/* footer  */

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 50px;
    height: 50px;
}
.footer_elements{
    width: 40%;
    margin: 0;
}
footer p{
    text-align: center;
}
footer ol{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

footer img {
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
 footer:hover img {
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
  }


/*  END   */

.end{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end ol{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.end li{
    padding: 0 15px 0 15px;
}
