body{
    font-family: 'Playball', cursive;
    margin : 0;
    color: azure;
    background : url("../img/bg-slider-06.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;
}
header img{
    width: 30%;
    height: 450px;
    padding-top: 100px;
}
nav{
    text-transform: uppercase;
    width: 70%;
    margin-top: 50px;
}
nav ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style-type:none;
    font-weight: bold;
    font-size: 20pt;
}
nav a{
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.566);
}
nav a:hover{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    padding : 10px 0px;
    transition-delay: 0.1s;
}


/* Menu */


.main{
    background: url("../img/plats/pexels-valeria-boltneva-1833349.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding:80px;
    font-size: 50pt;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.566);
}
.main_container{
    width: 60%;
    margin: auto; 
    padding-bottom: 150px;
    margin-top: 50px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.566);
}
.main_container_elements, .main_container_elements2{
    display: flex;
    justify-content: center;
    height: 350px;
}
.main_container_elements{
    background-color: rgba(0, 0, 0, 0.464);
}
.main_container_elements2{
    background-color: rgba(69, 68, 68, 0.499);
}
.elements{
    height:180px;
    width: 70%;
    text-align: center;
}
.elements h2, .elements p{
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.elements img{
    width: 70%;
    height: 120%;
    margin-top: 50px;
}
.elements p{
    align-items: center;
    font-size: 18pt;
}
.elements h2{
    text-transform: uppercase;
    font-size: 30pt;
}



/*  Bottom  */


.main_bottom{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.619);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.566);
}
.main_bottom_content{
    width:70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_bottom_content h2{
  font-size: xx-large;
}
.main_bottom_content img{
    width: 70%;
    height: 70%;
}


/*  Avis   */

#owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }


/* footer  */

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.566);
}

footer img{
    width: 50px;
    height: 50px;
}
.footer_elements{
    width: 40%;
    margin: 0;
}
footer p{
    text-align: center;
}
footer ol{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

footer img {
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
 footer:hover img {
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
  }


/*  END   */

.end{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end ol{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.end li{
    padding: 0 15px 0 15px;
}
.end a{
    text-decoration: none;
    color: white;
}
.end a:hover{
    border-top: solid 1px white;
    padding-top: 3px;
}



/*  Carousel  */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container h2{
  font-size: xx-large;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.slideshow-container h2{
    text-align: center;
}


/* carousel 2 */
#slider {
  position: relative;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}

#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

#precedent {
  left: 0;
}

#suivant {
  right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}